* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
  }
  
  body {
   background-image: url("https://images.unsplash.com/photo-1618849888004-61415f08a7ad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80");

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

   .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
   .container{
    /* border: 2px solid darkblue; */
     width: 95%;
   }
  .elements{
    padding: auto;
    /* border: 3px solid red; */
    /* width: 36%; */
    /* max-width:40%; */
    display: block;
    /* margin: auto; */
  }
  .container-2 {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    /* filter:blur(1); */
    padding: 1rem;
    border-radius: 2px;
    /* width: 95%; */
    /* max-width: 95%; */
    opacity: 0.7;
    display: block;
    margin: auto;
    
  }
  
  .timer {
    border-radius: 2px;
    height: 70px;
    width: 150px;
    opacity: 0.7;
    background-color:#fff;
    border: 2px solid black;
    /* position: absolute; */
    /* top: 19px;
    left: 25px; */
    font-size: 3rem;
    color: #000;
    /* font-weight: bold; */
    display: inline-block;
    /* position: fixed; */
    margin: 4px ;
    text-align: center;
  }
  .error{
    background-color: #fff;
    border: 2px solid black;
    height: 70px;
    width: 150px;
    /* position: absolute; */
    /* top: 19px;
    left: 3px; */
    font-size: 3rem;
    opacity: 0.7;
    display: inline-block;
    /* position: fixed; */
    margin: 4px;
    color: #000;
    text-align: center;

  }
  .wpm{
    background-color: #fff;
    border: 2px solid black;
    height: 70px;
    width: 150px;
    /* position: absolute; */
    /* top: 19px;
    left: 3px; */
    font-size: 3rem;
    opacity: 0.7;
    display: inline-block;
    /* position: fixed; */
    margin: 4px;
    color: #000;
    text-align: center;

  }

  .accuracy{
    background-color: #fff;
    border: 2px solid black;
    height: 70px;
    width: 150px;
    /* position: absolute; */
    /* top: 19px;
    left: 14px; */
    font-size: 3rem;
    opacity: 0.7;
    display: inline-block;
    margin:4px;
    /* padding: 4px; */
    color: #000;
    text-align: center;


  }
  
  .quote-display {
    font-size: 25px;
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    color: #000;
  }
  
  .quote-input {
    background-color: #fff;
    border: 2px solid rgb(158, 158, 158);
    outline: none;
    width: 100%;
    height: 10rem;
    margin: auto;
    resize: none;
    padding: 1rem 1rem;
    font-size: 25px;
    border-radius: 3px;
    font-family: 'Merriweather', serif;
    color: #000;

  }
  
  .quote-input:focus {
    border-color: black;
  }
  
  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
    text-decoration: underline;
  }
   /* .btn{ */
     /* display: inline-block; */
     /* position: absolute;
     top: 10px; */
   /* } */
   .divbg{
     box-sizing:border-box;
     border: 2px solid red;
   }
   .funcs{
     width: 90%;
     border: 2px solid black;
   }
   /* .btn{
    background-color: #fff;
    border: 2px solid black;
    height: 60px;
    width: 150px;
    /* position: absolute; */
    /* top: 19px;
    left: 14px; */
    /* font-size: 3rem;
    opacity: 0.7;
    display: inline-block;
    margin:4px;
   } */ 
   .btn-success{
     background-color: #fff;
     color: black;
     border-radius: 1px;
     opacity: 0.7;

   }
   .btn-primary{
     background-color: #fff;
     color: black;
     border-radius: 1px;
     opacity: 0.7;

   }
   .btn-warning{
     background-color: #fff;
     color: black;
     border-radius: 1px;
     opacity: 0.7;

   }
   .btn-danger{
     background-color: #fff;
     color: black;
     border-radius: 1px;
     opacity: 0.7;

   }
   .btn-secondary{
     background-color: #fff;
     color: black;
     border-radius: 1px;
     opacity: 0.7;

   }
   .spnn
   {
     font-weight: bold;
font-size: large;
margin-left: 20px;
   }
   .form-control{
     width: 13%;
     display: inline-block;
     text-align: center;
     /* padding: 0.50rem 2.2rem */
     margin: 6px;
     /* cursor: none; */
   }
   .msg{
     color: red;
   } 
p{
  text-align: center;
  color: #000;
}
